<!-- <div class="pins"> -->
<h1>Experience</h1></br> </br>
</div>
<link rel="stylesheet" href="pins.css.scss">
<%= stylesheet_link_tag('pins') %>

 <div class="container"
   <% @pins.each do |pin| %>
   <div class="box"> 
    <%= link_to image_tag(pin.image, width: 300), pin %> 
    <%= render pin %>
    
      <%= pin.user.name if pin.user %></br>
      <%= link_to "Show this pin", pin %>
  <% end %>
    </div>
  </div>
</div>

<% if user_signed_in? %>
<%= link_to "New pin", new_pin_path %>
<% end %>
 
