

<% if @pin.image %>
    <%= image_tag @pin.image, width: 400  %>
 <% end %>

<p style="color: green"><%= notice %></p>

<%= render @pin %>
      <%= @pin.user.name  %> 

<div>

  
  <%= link_to "Back to pins", pins_path %>
<%  if @pin.user == current_user %>
 | <%= link_to "Edit this pin", edit_pin_path(@pin) %>
  <%= button_to "Destroy this pin", @pin, method: :delete %>

  <% end %>
</div>

